@use "./variables" as *;
@use "./mixins" as *;

body {
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.301);
    z-index: 9; 
  }
  .overlay.activated {
    display: block;
  }
}

.cartApp {
  width: 375px;
  height: 90vh;
  background-color: $white;
  position: fixed;
  overflow-y: scroll;
  top: 10vh;
  right: -100%;
  transition: 0.2s ease-in;
  z-index: 10;
  font-size: 0.9rem;
  padding: 0 1rem 1rem 1rem;
  border-top: 2px solid $lightgreen;
  .closeCart {
    font-size: 1.5rem;
    padding: 0.5rem 0;
    color: rgb(157, 157, 157);
    cursor: pointer;
  }
  .emptyCart {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      padding: 1rem 0;
    }
    a {
      @include colors($lightgreen, $white, none);
      text-transform: uppercase;
      letter-spacing: 0.15rem;
      padding: 1rem 0;
      width: 100%;
      text-align: center;
      transform: background-color 0.5s;
      cursor: pointer;
      &:hover {
        background-color: $black;
      }
    }
  }
  .fullCart {
    display: none;
    .yourCart {
      background-color: $lightgrey;
      padding: 1rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.15rem;
      margin-bottom: 0.5rem;
    }
    .clearTheCart {
      text-transform: uppercase;
      font-size: 0.75rem;
      margin: 0.5rem 0 0.5rem auto;
      color: $lightgreen;
      text-decoration: underline;
      cursor: pointer;
      text-align: center;
      width: 37%;
    }
    .checkoutContainer {
      width: calc(375px - 2rem);
      border-top: 1px solid $lightgrey;
      padding-top: 3rem;
      p {
        text-align: right;
        padding: 0.25rem;
      }
      .total {
        padding: 1rem 0;
        border-top: 2px solid $lightgrey;
        font-weight: 500;
      }
      .checkoutBtn {
        all: revert;
        @include colors($lightgreen, $white, none);
        border: none;
        width: 100%;
        padding: 1rem 0;
        text-transform: uppercase;
        @include fontStyling($primaryFont, 1rem, 0);
        letter-spacing: 0.15rem;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
          background-color: $black;
        }
      }
    }
  }  
}
.cartApp.activated {
  right: 0;
}

.productInCartContainer {
  @include boxModel(none, none, 1rem, 1px solid $lightgrey, 6px, 0 0 0.5rem 0);
  background-color: $white;
  display: flex;
  .productImage {
    width: 30%;
  }
  .productInfoContainer {
    padding-left: 1rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .productTextContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .productName {
        color: $black;
      }
    }
    .productBtnContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .qtyContainer {
        display: flex;
        width: 50%;
        .productQty {
          padding: 0 1rem;
          width: 2rem;
          display: flex;
          justify-content: center;
          font-size: 0.8rem;
        }
        .minusBtn,
        .plusBtn {
          all: revert;
          @include colors($lightgreen, $white, none);
          @include boxModel(25px, 25px, none, 15px, 15px, none);
          transition: all 0.5s;
          cursor: pointer;
          &:hover {
            background-color: $black;
          }
        }
      }.trashItem {
        width: 50%;
        text-align: right;
        font-size: 0.8rem;
        color: $black;
        cursor: pointer;
      }
    }
  }
}

.totalItemsInCart {
  position: relative;
  .totalItems {
    @include colors($lightgreen, $white, none);
    @include boxModel(25px, 25px, none, none, 15px, none);
    display: flex;
    justify-content: center;
    position: absolute;
    top: -45px;
    right: -5px;
  }
}
